{% extends 'layout.html' %}
{% block content %}

<section id="contact" style="background: transparent; !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section_title">
                        <h3 style="color: white">Deposit to Crowdfund</h3>
                    </div>
                </div>
            </div>
            <div class="contact-container">
                <div class="row">
                    <div class="col-sm-10 col-xs-12">

                        <div class="panel panel-default" style="background-color: rgba(0,0,0,0.5); !important;" align="center">
                            <div class="panel-heading" style="text-align:left">Deposit <span>Crypto xyz</span> (<span>TICKER</span>)</div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Address</label>
                                        <div class="col-sm-9 ">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" style="" type="button" disabled=""><i class="fa fa-map-marker"></i></button>
                                                </div><!-- /btn-group -->
                                                <input type="text" class="form-control text-right dyn-input-readonly" style="font-size:10px" readonly="" placeholder="Loading Address...">
                                                <span class="input-group-addon" >ADDR</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: none;">
                                        <label class="col-sm-3 control-label">Address</label>
                                        <div class="col-sm-9 ">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" style="" type="button" disabled=""><i class="fa fa-map-pin"></i></button>
                                                </div><!-- /btn-group -->
                                                <input type="text" class="form-control text-right dyn-input-readonly" style="font-size:10px" readonly="" placeholder="Loading Address...">
                                                <span class="input-group-addon">ADDR</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary center-block" style="display: none;"><i class="fa fa-map-marker"></i>&nbsp; New Address</button>
                                    </div>
                                </form>
                            </div>
                        </div>




                    </div>
                         <div class="col-sm-2 col-xs-12">
                        <div class="center-block" style=""><img src="http://cdnqrcgde.s3-eu-west-1.amazonaws.com/wp-content/uploads/2013/11/jpeg.jpg" style="width:75%"></div>
                        </div>
                </div>

          </div>
        </div>
</section>
{% endblock %}