{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/assets/css/countdown.css">

<section class='content'>
		  <div class='planet'></div>
  	<div class='astronauta'></div>




<div class="row">
    <div class="col-sm-12">
         <div class='text'>
             <p>&nbsp;</p>
             <h2>Join the Vega Crowdfund Today!</h2>
             <p>&nbsp;</p>
             <h1>335353535{{ btc }} Bitcoin Raised
                 535353535{{ eth }} Eth / Tokens raised</h1> </div>
        <p>&nbsp;</p>
        <div id="clockdiv">
            <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>

            <div align=center style="padding-top:2%">

            <a class="btn btn-success" href="/login">Join the crowdfund!<a/>

            </div>

        </div>
</div>

  </div>
</section>

{% endblock %}
