{% extends "crowdfund/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/assets/css/countdown.css">

<section class='content'>


<div class="row">
    <div class="col-sm-12">
         <div class="text">

             <h1 class="">Goal Reached!</h1>
            <a href=https://etherscan.io/token/0xca48AC42C9Cd4eE98813af8945A1024868ee62de?a=0x1629677Ce7A79221fe661236349639045C3DFde7"">
                  <h3>ERC20 Contract</h3></a>
             <div align="center">
             <input  style="background-color: transparent; color: white;" readonly type="text" value="0x1629677Ce7A79221fe661236349639045C3DFde7"></div>

         <p>&nbsp;</p><!-- Countdown -->
            <div align="center"><h2>Crowdfund Over!</h2></div>


            </div>

        </div>
</div>


</div>



</section>


    <!-- ====== main js file ====== -->
    <script src="/static/assets/js/jquery-2.1.3.min.js"></script>
    <!-- ====== bootstrap js file ====== -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
    $('.t1').tooltip({title: "USD VALUE: {{ usdtotal }}", trigger: "hover"});
    $('.t2').tooltip({title: "USD VALUE: {{ usd|round(2) }}", trigger: "hover"});
    $('.t3').tooltip({title: "USD VALUE: {{ (btcusd * btc)|round(2) }}", trigger: "hover"});
    $('#countdown').countdown('2018/01/08', function(event) {
    $(this).html(event.strftime('%w Weeks %d Days %H:%M:%S'));
    });
});
</script>


{% endblock %}
