{% extends "crowdfund/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/assets/css/countdown.css">

<section class='content'>
<div class="container">
		  <div align='center' class='planet'></div>

<div class="row">
    <div class="col-sm-12">
         <div class="text">

             <h2>Join the Vega Crowdfund Today!</h2>
             <h3>lorem ipsum delta epsilon idk fucking bitcoin yeah get schwifty bitch</h3>
             <p> </p><h1>   535353535 Eth / Tokens raised</h1></div>
         <p>&nbsp;</p><!-- Countdown -->

            <div class="countdown text-success text-center text-primary" id="countdown">06 weeks 05 days 10:25:38</div>
            <p>&nbsp;</p><!-- /Countdown -->


            <div align="center" style="padding-top:2%" class="col-md-12">

            <a class="btn-main btn-main-success btn btn-lg" href="/join">Join the crowdfund!</a>
                <h4 class="">get scwifty take off your pants and panties and shit on the floor</h4>

            </div>

        </div>
</div>
<p>&nbsp;</p>

</div>


<p>&nbsp;</p>
     <section id="cf-stats">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Fundraising Distrobution</h2>
                    <h4>Total Funds Raised: </h4>
                    <p>&nbsp;</p>
                    <h1>$320,000</h1>
                </div>
    	            <div class="col-md-6">
                        <div id="p1" class=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section>
    <div class="container">

        <p><span style="text-decoration: underline;"><strong>Our Goal:</strong></span><br/>Our goal in-terms of the
            crowfunding public distribution of the VEGA token, is to raise approximately $625,000 USD value for the
            above model budgeting system to cover expenses.</p>
        <p><br/><strong><span style="text-decoration: underline;">Token Allocation:</span></strong><br/><strong>Community
            Grants &amp; Bounties</strong> - As we complete milestones and receive constructive feedback from the
            community, we will reward some tokens to airdrops and bounty
            programs.<br/><strong>Partnerships/Consulting</strong> - Our token will be available for those stakeholders
            that will assist us with consulting and possibly future partnerships.<br/><strong>Public
                Distribution</strong> - This will be our majority distribution of tokens to the public giving them the
            opportunity to fund our ideas and individually contribute towards our shared interests.<br/><strong>Founders
                Fund</strong> - This is a reserved buffer for the overall token to allow room for growth and open from
            the escrow to create more crowfunding accepted currencies.</p>
        <p><br/><strong><span style="text-decoration: underline;">Budget for Planned Expenses</span></strong></p>
        <p><strong>Legal &amp; Administration</strong> - This expense purpose is for security purposes for legal
            acquisitions, financial advisement, and auditing systems.<br/><strong>Software Development</strong> - This
            is the distribution of funding to employees to keep them motivated towards the fulfilling our
            roadmap.<br/><strong>Marketing &amp; Media</strong> - This expense will be accounted for to develop
            visibility to the market, seminars, and use any marketing services that are needed to accelerate
            productivity.<br/><strong>Founders Reserve</strong> - The founders of our company would like to take their
            funding and recontribute into the token assets as holders.<br/><strong>Operational Expense</strong> - This
            budget bucket will help us maintain our daily upkeep and maintenance of technology.<br/><strong>Misc
                Expenses</strong> - These expenses may be for various reasons such as business travel, research,
            educational or skill training, all to improve our company vision.</p>
        <p><br/>If we don't raise the minimum ask the escrow will make available funds to reach our goal.</p>

    </div>
</section>


</section>




{% endblock %}
