{% extends "crowdfund/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/assets/css/countdown.css">

<section class='content'>
<div class="container">
		  <div align='center' class='planet'></div>

<div class="row">
    <div class="col-sm-12">
         <div class="text">

             <h2>Join the Vega Crowdfund Today!</h2>
             <h1>Goal 3000 ETH</h1>
             <h1>ETH Raised: {{ eth }}</h1> </div>

         <p>&nbsp;</p><!-- Countdown -->
            <div align="center"><h2>Crowdfund Ends:</h2></div>
            <div class="countdown text-success text-center text-primary" id="countdown">06 weeks 05 days 10:25:38</div>
            <p>&nbsp;</p><!-- /Countdown -->


            <div align="center" class="col-md-12">

            <a class="btn-main btn-main-success btn btn-lg" href="/join">Join the crowdfund!</a>
                <h4 class=""></h4>

            </div>

        </div>
</div>
<p>&nbsp;</p>

</div>

<P>&nbsp;</P>

<p>&nbsp;</p>
     <section id="cf-stats">

{#        <div class="container" id="">
            <div class="row">
                <div class="col-md-2 col-sm-12"></div>
                <div class="col-md-5 col-sm-12">
                    <h2>Fundraising Distrobution</h2>
                    <h4>Total Funds Raised: </h4>
                    <h1>Now: $320,000 </h1>
                    <h1>Goal: $650,000</h1>
                    <h3>See the full distribution <a class="btn btn-info ">Here</a></h3>
                    <d></d>

                </div>
    	            <div class="col-md-2">
                        <div id="p1" class=""></div>
                    </div>
                </div>
             </div>#}

            <div class="row">

                <div class="col-md-5">
                    <div id="p1" class=""></div>
                </div>


                <div class="col-md-3 col-sm-12">

                    <h4>Community Grants &amp; Bounties</h4>
                    <p>As we complete milestones and receive constructive feedback from the community,
                        we will reward some tokens to airdrops and bounty programs.</p>

                    <h4>Partnerships/Consulting</h4>
                    <p>Our token will be available for those stakeholders
                        that will assist us with consulting and possibly future partnerships.</p>
                </div>

                <div class="col-md-3 col-sm-12">

                    <h4>Public Distribution</h4>
                    <p> This will be our majority distribution of tokens to the public giving them the
                        opportunity to fund our ideas and individually contribute towards our shared interests.
                        the escrow to create more crowfunding accepted currencies.</p>

                    <h4>Foundes Fund</h4>
                    <p>Our token will be available for those stakeholders
                        that will assist us with consulting and possibly future partnerships.</p>
                </div>
            </div>
              <div class="row">
                <h1>Our Goal:</h1>
                <h3>Our goal in-terms of the crowfunding public distribution of the VEGA token, is to raise
                    approximately $625,000 USD value for the above model budgeting system to cover expenses
                </h3>
              </div>

            <div class="row">
                <h1>Budget for Planned Expenses:</h1>
              </div>
            <div class="row">
        <div class="col-md-3 col-sm-12">

                    <h4>Legal &amp; Administration</h4>
                    <p>This expense purpose is for security purposes for legal
                            acquisitions, financial advisement, and auditing systems.</p>

                    <h4>Software Development</h4>
                    <p>This is the distribution of funding to employees to keep them motivated towards the fulfilling
                        our roadmap.</p>
                </div>

                <div class="col-md-3 col-sm-12">
                     <h4>Marketing &amp; Media</h4>
                    <p>This expense will be accounted for to develop
                        visibility to the market, seminars, and use any marketing services that are needed to
                        accelerate productivity.</p>

                    <h4>Founders Reserve</h4>
                    <p> The founders of our company would like to take their
                        funding and recontribute into the token assets as holders.</p>
                </div>


                <div class="col-md-2">
                        <div  class="">
                        <img src="https://i.imgur.com/hDbCReB.png">
                        </div>

                    </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <h4>Operational Expense</h4>
                    <p>This budget bucket will help us maintain our daily upkeep and maintenance of technology.</p>
                </div>

                <div class="col-md-3 col-sm-12">
                    <h4>Misc Expenses</h4>
                    <p>These expenses may be for various reasons such as business travel, research,
                        educational or skill training, all to improve our company vision.</p>
                </div>
                <div class="col-md-6"><h4>If we don't raise the minimum ask the escrow will make
                            available funds to reach our goal.</h4></div>
        </div>


         <div class="row">

         </div>

    </section>





{% endblock %}
