{% extends 'crowdfund/outside.html' %}
{% block content %}
<section class="contribution-form">
    <div class="container" align="center">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-contribution">
                    <div class="panel-body">
                        <div class="loading-wrapper hidden"><span class="loading-animation"></span></div>
                        <form class="row" action="/thanks" method="GET">
                            <div class="clearfix">
                                <div class="col-md-6">
                                    <h2>Ethereum Deposit Address</h2>
                                    <input readonly="true" style="width:100%;padding-left:20%;margin-top:15%" placeholder={{ ethaddy }}>
                                    <p class="text-danger">CAUTION: DO NOT SEND FROM AN EXCHANGE. Send from a wallet where you control the private keys. Kindly avoid sending smaller than 0.001 ETH.</p>
                                     <p class="text-success">Your crowdfund is exchanged through the escrow and Vega token will be distributed to you towards the end of the crowdfund period.</p>
                                </div>
                                <div class="qr col-md-6">
                                    <img class="placeholder" src="/static/assets/img/qrc.png">
                                </div>


                            </div>
                            <div align="center">
                                <h3>
                                    If you only prefer to use other forms of funding BTC, LTC, XMR, or DASH please contact the escrow Dabs#1514
                                    via private message on our <a href="https://discord.gg/V7ejpEg">discord</a> or
                                    <a href="https://bitcointalk.org/index.php?action=profile;u=54791">BitcoinTalk </a>
                                </h3>
                            </div>
                            <p>&nbsp;</p>
                            <div class="form-group clearfix">
                                <div class="col-md-8 col-sm-offset-2 text-center">
                                    <a class="btn btn-block btn-success" href="/thankyou" id="submit-pay">Finished</a>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <p class="last">
                                        By proceeding, you are agreeing to our <a href="/toc">Terms &amp; <br>Conditions</a>
                                        and <a href="/privacy">Privacy Policy</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12 text-text">
                                <p>Please note that Vega is not a charity, will not use your support for charitable programs, and your support of our software does not constitute a charitable donation. As such your contribution is not eligible to be treated as a charitable deduction for federal or state taxes in the United States or elsewhere.</p>
                                <p>If you have any questions about contributing to Vega, please <a href="mailto:contact@m.vegais.com">contact us here</a>.
                                </p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}