{% extends 'layout.html' %}
{% block content %}

<!-- ====== custom css ====== -->
<link rel="stylesheet" href="/static/assets/css/lognreg.css">

<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<form class="form-signin"  action="/register/create" method="POST" >
		<h1 class="form-signin-heading text-muted">Register</h1>
		<input type="text" name="email-reg" id="email-reg" class="form-control" placeholder="Email address" required="" autofocus="">
		<input type="password" name="password-reg" id="password-reg" class="form-control" placeholder="Password" required="">
        <input type="password" name="password-reg2" id="password-reg2" class="form-control" placeholder="Password" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Register
		</button>
	</form>

</div>

{% endblock %}