{% extends 'crowdfund/layout.html' %}
{% block content %}
<section class="contribution-form">
    <div class="container" align="center">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-contribution">
                    <div class="panel-heading text-center">
                        <h3>Your Contribution</h3>
                    </div>
                    <div class="panel-body">
                        <div class="loading-wrapper hidden"><span class="loading-animation"></span></div>
                        <div class="row">
                            <div class="clearfix">
                           <div class="col-md-12">
                               <h1>THANK YOU!</h1>
                               <h3>You'r contribution is making our dreams, and this amazing tech come to life!</h3>
                               <p>From the bottom of our hearts, all of us at vega thank you and know that without you we could never make our dreams come true.</p>
                           </div>


                            </div>

                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12 text-text">
                                <p>Your fuel drives feeds the very lifeblood to Vega's Brain</p>
                                <p>Please note that Vega is not a charity, will not use your support for charitable programs, and your support of our software does not constitute a charitable donation. As such your contribution is not eligible to be treated as a charitable deduction for federal or state taxes in the United States or elsewhere.</p>
                                <p>If you have any questions about contributing to Vega, please <a href="mailto:info@vegais.com">contact us here</a>.
                                </p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}