
/* ------ 23 responsive style start here ------ */

/* ========= small device ============*/
@media (max-width:767px) {
    #side_nav {
        width: 80%;
        left: -80%;
    }
    .main_slide_menu li a {
        font-size: 24px;
        padding-bottom: 16px
    }
    .banar_text h2 {
	    font-size: 28px;
    }
    .banar_text h1 {
        font-size: 28px;
        padding: 4px 0px;
    }
    .banar_text h3 {
        font-size: 17px;
    }
    .banar_text p {
        padding: 10px 0px 26px;
        line-height: 22px;
    }
    .banar_text a {
        padding: 10px 19px;
        font-size: 12px;
    }
    #about_us {
	    padding: 67px 0 98px;
    }
    .about_image{
        display: none;
    }
    .about_content {
        margin-top: 0px;
    }
    .about_content h2 {
        font-size: 22px;
        margin-top: 14px;
    }
    .about_content p {
        font-size: 14px;
        margin-top: -8px;
    }
    .about_content p span{
        display: none;
    }
    .about_content img {
        display: none;
    }
    .about_content button {
        font-size: 10px;
        padding: 5px 31px;
    }
    #service {
        padding: 105px 0px 96px;
    }
    .service_titile h1 {
        font-size: 22px;
    }
    .service_item{
        margin-bottom: 10px;
    }
    .portfolio_title h1{
        font-size: 18px;
    }
    .portfolio_title img{
        padding-bottom: 10px;
    }
    .portfolio-filter {
        width: 100%;
        margin: 16px 0px 0px 0px;
        padding: 0px;
        padding-top: -5px;
        padding-bottom: 0px;
        background: transparent;
    }
    .portfolio-filter li {
        display: inline-block;
        padding: 0px 11px;
        border-radius: 36px;
        cursor: pointer;
        transition: all 0.4s linear;
        color: #222;
        font-size: 10px;
        position: relative;
        top: -1px;
    }
    .percess_content h3{
        font-size: 18px;
    }
    .percess_content p{
        font-size: 14px;
        line-height: 19px;
    }
    .team_title h1{
        font-size: 26px;
    }
    .singal_team{
        margin-bottom: 14px;
    }
    #our_video {
        padding: 42px 0;
    }
    .video_container > p{
        line-height: 19px;
    }
    .modal-body {
	    min-height: 240px;
    }
    .skill_title h1{
        font-size: 28px;
    }
    .price_title h1{
        font-size: 20px;
    }
    .price_item {
        margin-bottom: 18px;
    }
    .testmonial_title h1{
        font-size: 22px;
    }
    .t_item_right {
        display: none;
    }
    .t_item_left > p {
	font-size: 13px;
	line-height: 19px;
	text-align: justify;
}
    .t_item_left span,
    .t_item_right span {
        left: 31%;
    }
    .blog_title h1{
        font-size: 21px;
    }
    .blog_item {
        padding-bottom: 16px;
    }
    .blog_info ul {
        left: 0px;
    }
    .count_item {
        margin: 12px auto;
    }
    .brand_info {
        border-bottom: 1px solid #e5e5e5;
        border-style: none none solid;
        margin-bottom: 8px;
        padding-bottom: 22px;
    }
    .brand_info button {
        font-size: 11px;
        padding: 13px 29px;
    }
    .brand_title>p {
        font-size: 11px;
    }
    .brand_title {
        border-style: none;
    }
    .brand_title button {
        font-size: 10px;
        padding: 12px 25px;
    }
    #contact {
	    padding: 80px 0px;
    }
    .contact_form button {
        font-size: 11px;
        margin: 15px 0;
        padding: 9px 7px;
    }
    .contact_info>p {
        font-size: 13px;
        padding-right: 14px;
    }
    .sub-mail {
        padding: 9px 21px 9px 12px;
    }
    .c_icon {
	    display: none;
    }
    .con_i .fa {
        display: none;
    }
    .footer_slider .owl-nav .owl-next{
        margin-bottom:19px;
    }
}


/* ========= tablet device ============*/

@media(min-width:768px) and (max-width:1279px) {
    .header_top_info ul li {
        display: block;
    }
    .header_top_info ul li a {
        padding: 0px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 11px;
        padding: 21px 11px;
    }
    #side_nav {
        width: 40%;
        left: -40%;
    }
    #about_us {
	    padding: 100px 0px 56px;
    }
    .about_us_overlay .fa {
        font-size: 91px;
        left: 19px;
    }
    .about_content h2{
        font-size: 29px;
    }
    .about_content img {
        left: 51%;
    }
    .about_content p{
        padding: 13px 0px 21px;
    }
    .service_titile h1{
        font-size: 24px;
    }
    .service_item{
        margin-bottom: 20px;
    }
    .si_p{
        position: relative;
        margin-bottom: 20px;
    }
    .portfolio_title h1{
        font-size: 24px;
    }
    .portfolio-filter{
        width: 100%;
    }
    .portfolio-filter li{
        font-size: 12px;
    }
    .team_title h1{
        font-size: 28px;
    }
    .singal_team{
        margin-bottom: 20px;
    }
    .skill_title h1{
        font-size: 28px;
    }
    .skill_info > h3|{
        margin-top: 14px;
        line-height: 26px;
    }
    .skill_info > p{
        font-size: 13px;
        padding: 0px 0px;
    }
    .price_title h1{
        font-size: 24px;
    }
    .percess_title h3 {
        font-size: 19px;
    }
    .percess_title p {
        font-size: 13px;
    }
    .video_container>h3 {
        font-size: 16px;
    }
    .video_container>p {
        font-size: 13px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .skill_img img {
        height: 341px;
        margin-top: 56px;
        width: 359px;
    }
    .price_item {
        margin: 0 auto 28px;
        max-width: 273px;
    }
    .t_item_left>p,
    .t_item_right>p {
        font-size: 13px;
        font-style: normal;
    }
    .t_item_left span,
    .t_item_right span {
        left: 36%;
    }
    .testmonial_title h1{
        font-size: 25px;
    }
    .t_item_left > p, .t_item_right > p {
        line-height: 22px;
    }
    .blog_title h1{
        font-size: 23px;
    }
    .count_item {
        margin-bottom: 29px;
    }
    .footer_item {
	    margin-bottom: 10px;
    }
    .right_menu {
		float: right;
		position: relative;
		right: 54px;
	}
}

