
{% extends "layout.html" %}
{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="banar_text">
                        <h2>Vega Automated</h2>
                        <h1>Intelligent Solutions</h1>
                        <h3>Experience the future of AI</h3>
                        <p>Developing an investment application using machine learning artificial intelligence to expand your portfolio!</p>
                        <a href="#features">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== banar slide end here ====== -->
        <!-- ====== start brand slide here ====== -->
    <!-- ====== end brand slide here ====== -->
        <!-- ====== blog start here ====== -->
    <p>&nbsp;</p>
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section_title">
                        <h3>latest news</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="blog_containre owl-carousel">
                       {% for x in medium.entries %}
                    <div class="singal_blog">
                        <div class="blog_item">
                            <div class="blog_img">
                                <img class="img-responsive" src="/static/assets/img/medium.png" alt="blog" style="width: 75%; padding-left:25%">
                            </div>
                            <div class="blog_info text-center">
                                <ul>
                                    <li><i class="fa fa-calendar blog_icon" aria-hidden="true"></i>{{ x.published }}</li>
                                </ul>
                                <h3>{{ x.title | truncate(35) }}</h3>
                                <p>{{ strip_tags(x.description) | truncate(150) }}</p>
                                <button><a href="{{ x.link }}" style="color: white" target="_blank">More</a></button>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                   {% for x in twitter.entries %}
                    <div class="singal_blog">
                        <div class="blog_item">
                            <div class="blog_img">
                                <img class="img-responsive" src="/static/assets/img/twitter.png" alt="blog"  style="width: 75%; padding-left:25%">
                            </div>
                            <div class="blog_info text-center">
                                <ul>
                                    <li><i class="fa fa-calendar blog_icon" aria-hidden="true"></i>{{ x.published }}</li>
                                </ul>
                                <h3>{{ x.title | truncate(35) }}</h3>
                                <p>{{ strip_tags(x.description) | truncate(150) }}</p>
                                <button><a href="{{ x.link }}" style="color: white"  target="_blank">More</a></button>
                            </div>
                        </div>
                    </div>
                     {% endfor %}


                </div>

            </div>

        </div>
    </section>
    <!-- ====== blog end here ====== -->
    <!-- ====== features start here ====== -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section_title">
                        <h3>Features</h3>
                    </div>
                    <div class="features_container">
                        <!-- single features -->
                        <div class="row">


                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="features_item text-center si_p">
                                <i class="fa fa-camera" aria-hidden="true"></i>
                                <h3>Social Media Analysis</h3>
                                <p>The data collection cluster captures social media and press releases into the Vega AI for market analysis indicators and predictions</p>
                            </div>
                        </div>

                        <!-- single features -->
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="features_item text-center">
                                <i class="fa fa-css3" aria-hidden="true"></i>
                                <h3>Automated Trading</h3>
                                <p>Users can allow the AI to submit automated exchanges to enhance their portfolio</p>
                            </div>
                        </div>

                        <!-- single features -->
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="features_item text-center si_p">
                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                <h3>Intuitive User Interface</h3>
                                <p>Vega application interface supports all devices with a sleek and simple look using a high performance UI</p>
                            </div>
                        </div>

                        <!-- singal features -->
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="features_item text-center si_p">
                                <i class="fa fa-bug" aria-hidden="true"></i>
                                <h3>Open-Integration Platform</h3>
                                <p>Our artificial intelligence integrates cross-platform with via simple API services with platforms such as Slack, Discord, WhatsApp, and Telegram</p>
                            </div>
                        </div>

                       <!-- single features -->

                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="features_item text-center">
                                <i class="fa fa-html5" aria-hidden="true"></i>
                                <h3>Decentralized Design</h3>
                                <p>Vega is hosted on a decentralized neural network via IPFS protocol</p>
                            </div>
                        </div>
                        <!-- single features -->
                        <div class="col-md-12 col-xs-12 col-sm-6">
                            <div class="features_item text-center si_p">
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <h3>Interactive AI</h3>
                                <p>Sophisticated natural language processing and responsive human interaction</p>
                            </div>
                        </div>


						<div class="features_section" align="center"><a href="/whitepaper" >See our whitepaper</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== features end here ====== -->
        <!-- ====== video strart here ====== -->
    <section id="our_video">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="video_container">
                        <h3>Check out our video!</h3>
                        <p>Coming Soon!</p>
                        <img class="bla-1" href="">
			                <i class="fa fa-play-circle video_paly" aria-hidden="true"></i>
		                </img>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== video end here ====== -->


        <!-- ====== roadmap maybe? ====== -->

<p>&nbsp;</p>
 <section id="road_map">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="roadmap">

                        <img class="img-responsive" src="/static/assets/img/Road_Map.png" alt="roadmap">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="about_content">
                        <h2 class="section-title"> Our roadmap </h2>
                        <p>We are always hard at work on development and media campaigns to generate visibility and keep our users updated frequently on progress.<span> We are developing using Agile strategies and test-driven development on our application. Using this approach we are able to work internally very efficiently and create market awareness with fast-paced feature release deployments to our users.</span></p>
                          <!-- Trigger the Modal -->
                        <button onclick="changeZIndex(1,'m1')" data-toggle="modal" data-target="#m1" align="center">see more</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====== about us start here ====== -->
    <section id="about_us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="about_image">

                        <img class="img-responsive" src="/static/assets/img/Vega_Design.png" alt="about_us">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="about_content">
                        <h2 class="section-title"> Our technology <br> can change the world </h2>
                        <p>We here at Vega Intelligent Solutions are dedicated to quality of service in our products to create the greatest user experience.<span> Our ongoing development of the Vega application has inspired confidence created many possibilities to integrate across platforms and work with simple solutions that machine learning can leverage productivity in our every day lives. As users of the latest technologies and investors ourselves, we understand the importance to uphold our integrity and work towards changing the world of investment tools and portfolio management utilities.</span></p>
                          <!-- Trigger the Modal -->
                        <button onclick="changeZIndex(1,'m2')" data-toggle="modal" data-target="#m2">see more</button>
                        <img class="img-responsive" src="/static/assets/img/signaturebcs.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- The Modals -->
    <div class="modal fade" id="m1" style="padding-right: 400px; z-index: -1 !important">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="roadmap container-fluid">

                        <img class="img-responsive" src="/static/assets/img/Road_Map.png"  style="max-width:200%; !important" alt="roadmap">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="m2" style="padding-right: 400px; z-index: -1 !important">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="about_image container-fluid">

                        <img class="" src="/static/assets/img/Vega_Design.png" alt="about_us" style="max-width:200%; !important">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ====== about us end here ====== -->

    <!-- ====== team start here ====== -->
    <section id="our_team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section_title">
                        <h3>our team</h3>
                    </div>
                </div>
            </div>
            <div class="team_container col-sm-12 col-lg-12" >
                <div class="row">
                    <div align="center" class="team_blurb">
                        <h3>Our Team Is Growing Every Day</h3>
                        <p>We wish to keep a very transparent and personable relationship with our customers!</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="singal_team">
                            <img class="img-responsive" src="/static/assets/img/team/b.jpg" alt="">
                            <div class="team-hover">
                               <div class="team_info_text">
                                   <h3>Brian Carter</h3>
                                   <p>ceo / architect</p>
                                </div>
                                <div class="team_social">
                                    <div class="social_item">

                                        <a href="https://www.linkedin.com/in/brian-carter-75770778/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team_member_title">
                                <h5>ceo</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="singal_team">
                            <img class="img-responsive" src="/static/assets/img/team/nopic.png" alt="">
                            <div class="team-hover">
                               <div class="team_info_text">
                                   <h3>Ryan Schrek</h3>
                                   <p>Data Science / ML Lead</p>
                                </div>
                                <div class="team_social">
                                    <div class="social_item">
                                        <a href="https://www.linkedin.com/in/ryan-schreck-cissp-60b75622/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team_member_title">
                                <h5>Dev</h5>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="singal_team">
                            <img class="img-responsive" src="/static/assets/img/team/nopic.png" alt="">
                            <div class="team-hover">
                               <div class="team_info_text">
                                   <h3>Amanda Taylor</h3>
                                   <p>Operations & Management</p>
                                </div>
                                <div class="team_social">
                                    <div class="social_item">
                                        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team_member_title">
                                <h5>Ops</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="singal_team">
                            <img class="img-responsive" src="/static/assets/img/team/nopic.png" alt="">
                            <div class="team-hover">
                               <div class="team_info_text">
                                   <h3>Asphyxia @Novus</h3>
                                   <p>Technology Consultant</p>
                                </div>
                                <div class="team_social">
                                    <div class="social_item">
                                        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team_member_title">
                                <h5>Dev</h5>
                            </div>
                        </div>
                    </div>
                    <dv class="col-md-3"></dv>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="singal_team">
                            <img class="img-responsive" src="/static/assets/img/team/nopic.png" alt="">
                            <div class="team-hover">
                               <div class="team_info_text">
                                   <h3>Notorious @Novus</h3>
                                   <p>ICO Consultant</p>
                                </div>
                                <div class="team_social">
                                    <div class="social_item">
                                        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team_member_title">
                                <h5>Dev</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="singal_team">
                            <img class="img-responsive" src="/static/assets/img/team/nopic.png" alt="">
                            <div class="team-hover">
                               <div class="team_info_text">
                                   <h3>Dabs @Novus</h3>
                                   <p>Marketing Consultant</p>
                                </div>
                                <div class="team_social">
                                    <div class="social_item">
                                        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team_member_title">
                                <h5>Ops</h5>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
               <div align="center" class="team_blurb">
                        <p>We will be expanding team and including additional profiles. We are always seeking new prospects to work with us and fill future positions.</p>
                    </div>
    </section>
    <!-- ====== team end here ====== -->

    <!-- ====== start contact here ====== -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section_title">
                        <h3>contact us</h3>
                    </div>
                </div>
            </div>
            <div class="contact-container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="contact_input">


                            <form  action="." method="POST" name="contact">
                                <input type="text" class="fname" name="fname" placeholder="First Name">
                                <input type="text" class="lname" name="lname" placeholder="Last Name">
                                <input type="text" class="email" name="email" placeholder="Email Address">
                                <textarea class="message" name="msg" placeholder="Leave Your Message"></textarea>
                                <button type="submit">submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12" style="font-size: 30px;">
                        <div class="contact_info">
                            <div class="row">
                                <div class="contact_right_item">
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-9 nopading">
                                            <div class="con_info">
                                                <h3>Email</h3>
                                                <p>info@vegais.com</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-9 nopading">
                                            <div class="con_info">
                                                <h3>Discord</h3>
                                                <a href="https://discord.gg/V7ejpEg"><p>Click here to join!</p></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== end contact here ====== -->
    <!-- ====== start footer top here ====== -->
{% endblock %}